/*------------------------------------------------------------------Navbar css*/

.navbar{
    min-height: 60px !important;
    
}

.navbar-brand {
    line-height: 30px !important;
}

.navbar-default {
    background-color: #000 !important;
    border: None !important;
}

.nav-logo{
    color: #fff !important;
    font-size: 25px !important;
    font-family: 'Finger Paint', cursive;
}


.logo{
    color: white;
    font-size: 100px;
    font-family: 'Finger Paint', cursive;
    -webkit-text-stroke: 1px black;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
    letter-spacing: .2rem;
    line-height: 30px !important;
}

.navbar-right li {
    transition: all 0.3s ease-in-out;
}

.navbar-right:hover > li {
    opacity: 0.5;
}

.navbar-right > li:hover {
    opacity: 1;
}

/*------------------------------------------------------------------ End Navbar css*/

/*------------------------------------------------------------------ css for title image*/
.photo1{
    background-image: url('./assets/images/dark-computer.jpeg');
}

.parallax{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.title-effect{
    position:absolute;
    top: 25vh;
    width:100%;
    text-align: center;
}

.title-animation {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.name { 
  animation: showup 7s;
}

.title {
  animation: reveal 7s;
}

.title span {
    animation: slidein 7s;
}

/*------------------------------------------------------------------ end css for title image*/


/*------------------------------------------------------------------ css for about area*/
.content-area{
    background-image: url('./assets/images/wall-texture.jpeg');
    background-size: cover;
}

.content{
    margin-top: 80px;
    margin-bottom: 80px;
    
}

.info-segment{
    margin-top: 50px;
}

.info-icon{
    font-size: 30px;
}

.content-heading{
    font-family: 'Catamaran', sans-serif;
}

.content-section{
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}

.skill-list{
    list-style: none;
}

.skill-list li:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------------------------end css for about area*/

/*------------------------------------------------------------------css for portfolio area*/

.photo2{
    background-image: url('./assets/images/computer-camera.jpeg');
}

.portfolio-title{
    top: 15vh !important;
}

.portfolio-heading{
    margin-top: 40px;
    font-family: 'Finger Paint', cursive;
    font-weight: bold;
    margin-bottom: 40px;
}

.polaroid{
    width: 100%;
    padding: 10px 10px 10px 10px;
    background: #fafafa;
    box-shadow: inset 0 0 10px #000000;
}

.p1{
   -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(-20deg); 
}

.p2{
    -ms-transform: rotate(13deg); /* IE 9 */
    -webkit-transform: rotate(13deg); /* Safari */
    transform: rotate(13deg); 
}

.p3{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    transform: rotate(-5deg); 
}


.portfolio-thumb{
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%) brightness(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(0%);
    transition: all 0.5s ease-in-out;
}

.portfolio-thumb:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.polaroid-writing{
    margin-top: 10px;
}

.project-info{
    width:60%;
    margin: 0 auto;
    margin-top: 60px;
    background-image: linear-gradient(to right, #ffffff , #D3D3D3);
    padding: 5px;
}

.project-info p{
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
}

/*------------------------------------------------------------------end css for portfolio area*/
    
/*------------------------------------------------------------------css for contact area*/

.email-form-area{
    width: 100%;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

textarea{
    resize: none;
}

.social-media-area{
    margin-top: 20px;
}

.social-link{
    text-align: center;
    font-size: 20px;
    width: 20px;
    height: 40px;
    background: black;
}


/*------------------------------------------------------------------end css for contact area*/


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:auto}
    80% {opacity:1;}
}

@media only screen and (max-width: 600px) {
    .title-animation{font-size: 12px;}
    .parallax{background-attachment: scroll}
    .info-icon{margin-bottom: 10px;}
    .profile-img{margin-top: 20px;}
    .polaroid{padding: 5px 5px 5px 5px; width: 110%;}
    .polaroid-writing{font-size: 10px; margin-bottom: 0; margin-top: 5px;}
    .portfolio-thumb{filter: None;}
    .project-info{display: none;}
    .portfolio-title{top: 30vh!important;}
    .p2{margin-top: 20vh;}
}